.hero-section {
  position: relative;
}

.hero-image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 80%;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:#323F07;
}

.overlay-text h2{
    font-family: 'italiana';
    font-weight: bold;
}

.overlay-text a {
    text-decoration: none;
    color: #323F07;
}

.contact-section {
  background-color: #f9f9f9;
}

.contact-form .form-control {
  border-radius: 0;
  border: none;
}

.contact-form .btn-danger {
    background-color: #323F07;
    border: none;
    font-weight: bold;
    padding: 12px;
    transition: background 0.3s ease;
}

.contact-form .btn-danger:hover {
    background-color: #9CAB84;
}

.info h2,h3 {
    font-family: 'italiana';
    font-weight: bold;
    color: #323F07;
}

.info i {
    color: #323F07;
}

.ifo li {
    font-size: 20px;
}

.map-section iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 15px;
}
